.home-banner {
  padding-top: 50px;
  margin-bottom: 40px;
  margin-top: -1px;
  .slider_btn{
    display: none !important;
    @include media(">=desktop") {
      display: block !important;
    }
  }
  .banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 390px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include media(">=desktop") {
      display: block;
      text-align: left;
    }
    .holder {

      @include media(">=desktop") {
        top: 50%;
        position: absolute;
        max-width: 375px;
        width: 100%;
        right: 16%;
        transform: translateY(-50%);

      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        @include media(">=desktop") {
          font-size: 24px;
          line-height: 28px;
        }
      }
      h2 {
        font-size: 30px;
        line-height: 40px;
        color: $white;
        font-weight: 600;
        margin-top: 10px;
        @include media(">=desktop") {
          font-size: 60px;
          line-height: 70px;
        }
      }
      a {
        //display: none;
        margin-top: 26px;
        @include media(">=desktop") {
          min-width: 250px;

        }

      }
    }
  }
}