.footer {
  position: relative;
  padding: 7rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($black, .5);
  }
  .logo {
    position: relative;
    margin: auto;
  }
}
