.reviews {
  padding-bottom: 100px;
  .button {
    text-align: center;
    margin: 50px auto 0;
    display: block;
    max-width: 245px;
  }
  ul {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    li {
      margin-right: 15px;
      margin-left: 15px;
      flex-basis: calc(33.33333% - 30px);
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      padding: 34px 25px 47px 42px;
      & > p {
        font-size: 15px;
        line-height: 23px;
        color: #282828;
      }
      .avatar {
        display: flex;
        margin-bottom: 30px;
        align-items: center;
        .img {
          flex-shrink: 0;
          margin-right: 20px;
          img {
            border-radius: 50%;
            width: 97px;
            height: 97px;
          }
        }
        .text-block {
          font-weight: bold;
          font-size: 18px;
          line-height: 23px;
          color: #282828;
          span {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 23px;
            color: #969696;
            margin-top: 5px;
          }
        }
      }
    }

  }
}
