.text-content {
  h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  h2 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 18px;
    font-weight: 600;
  }
  h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;
    font-weight: 600;
  }
  h4 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 14px;
    font-weight: 600;
  }
  h5 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 14px;
    font-weight: 600;
  }
  h6 {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
    color: $black;
  }
  ul {
    margin-top: 10px;
    margin-bottom: 10px;
    li {
      font-size: 15px;
      line-height: 25px;
      margin-top: 15px;
      color: $black;

    }
  }
  &-margin{
    margin-top: 40px;
    @include media(">=desktop") {
      margin-top: 100px;

    }
  }
  &-more {
    .content {
      height: 225px;
      transition: height .25s;
      overflow: hidden;
      position: relative;
      &:before{
        content: '';
        display: block;
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        filter: blur(10px);
      }
    }
    .content-vissible {


    }
  }
  .button-block {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
  }
}
.about{
  .content-vissible{
    margin-top: 40px;
  }
}